button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: #e0f7ff; /* Light tinted blue */
    color: #005f8a; /* Darker blue for text */
    border: 2px solid #b3e5fc; /* Slightly darker border */
    border-radius: 0.3em; /* Rounded corners */
    padding: 0.5em 0.6em; /* Padding for a comfortable click area */
    font-size: 1.0em; /* Reasonable font size */
    font-family: 'Arial', sans-serif; /* Clean, sans-serif font */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #b3e5fc; /* Darker blue tint on hover */
    border-color: #81d4fa; /* Darker border on hover */
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    background-color: #81d4fa; /* Even darker blue when active */
    border-color: #4fc3f7; /* Darker border when active */
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus  {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px 2px rgba(0, 95, 138, 0.5); /* Custom focus shadow */
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
    background-color: #f0f0f0; /* Light grey for disabled */
    border-color: #cccccc; /* Grey border for disabled */
    color: #aaaaaa; /* Grey text for disabled */
    cursor: not-allowed; /* Not-allowed cursor for disabled */
    opacity: 0.6; /* Slight transparency for disabled */
}

/* Style the text input */
input {
    width: 100%;
    max-width: 20em; /* Maximum width of the input field */
    padding: 0.3em;    /* Padding inside the input field */
    font-size: 1.1em;  /* Font size for the input text */
    border: 1px solid #ccc; /* Border with a light gray color */
    border-radius: 0.3em; /* Rounded corners */
    box-sizing: border-box; /* Ensures padding is included in the total width and height */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

input:focus {
    border-color: #007BFF; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

input::placeholder {
    color: #aaa; /* Placeholder color for modern browsers */
}

#new-contract-address-box {
    display: none;
}
#new-contract-address-box button {
    margin: 0.3em;
}
#new-contract-address-box input {
    margin: 0.3em;
}

.metamask-connection-box {
    border: 1px solid #ccc;
    padding: 0.5em;
    display: flex;
}
.metamask-prompt {
    font-size: 1.1em;
    margin-right: 0.2em;
    color: #333;
}

.transaction-details {
    border: 2px solid #ccc;
    padding: 0.5em;
    margin-bottom: 2.0em;
    max-width: 50em;
}

.transaction-details div {
    padding: 0.2em;
}
.function-signature {
    font-family: monospace;
}
.decoded-param {
    font-family: monospace;
}

.address-box a {
    text-decoration: none; /* Removes underline */
    padding: 0.5em; /* Adds padding around the text */
    border-radius: 3px; /* Rounds the corners */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for color changes */
    background-color: #EEEEEE;
    font-family: monospace;
    color: blue;
}

.address-box a:hover {
    color: #fff; /* Text color on hover */
    background-color: #007BFF; /* Background color on hover */
}

.address-box-owner a {
    background-color: #DDEEDD !important;
}
.address-box-multi-sig a {
    background-color: #EEDDDD !important;
}

.address-box-entry {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}


.details-label {
    min-width: 12em;
}
.details-value {
    max-width: 50em;
}
.call-data-box {
    white-space: pre-wrap;
    font-family: monospace;
    word-wrap: anywhere;
    overflow-wrap: anywhere;
}
.param-data-box {
    white-space: pre-wrap;
    font-family: monospace;
    word-wrap: anywhere;
    overflow-wrap: anywhere;
}
.ether-amount-box {
    font-family: monospace;
}








